//templates/avaliacoes.html

{% extends 'layout.html' %}

{% block content %}
    <h2>Eventos Inscritos</h2>

    {% if eventos_inscritos %}
        <ul>
            {% for evento in eventos_inscritos %}
                <li>
                    {{ evento.identificacao }} - {{ evento.data_avaliacao.strftime('%d/%m/%Y %H:%M:%S') }}
                    <a href="{{ url_for('ver_avaliacao', avaliacao_id=evento.id_avaliacao) }}">Ver Avaliação</a>
                    <a href="#" onclick="desinscreverEvento('{{ evento.id_avaliacao }}')">Desinscrever</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você não está inscrito em nenhum evento no momento.</p>
    {% endif %}

    <script>
        function desinscreverEvento(avaliacao_id) {
            if (confirm("Tem certeza de que deseja desinscrever deste evento?")) {
                const form = document.createElement('form');
                form.method = 'post';
                form.action = '/desinscrever_evento/' + avaliacao_id;

                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
{% endblock %}