<!-- templates/avaliacoes.html -->

{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h2 class="mt-4">Eventos Inscritos</h2>

        {% if eventos_inscritos %}
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Data da Avaliação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evento in eventos_inscritos %}
                        <tr>
                            <td>{{ evento.identificacao }}</td>
                            <td>{{ evento.data_avaliacao.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                            <td>
                                <div class="btn-group">
                                    <!-- Botão para ver avaliação -->
                                    <a href="{{ url_for('detalhes_avaliacao', avaliacao_id=evento.id_avaliacao) }}" class="btn btn-primary btn-sm">Ver Avaliação</a>
                                    
                                    <!-- Ícone de lixeira para desinscrever -->
                                    <a href="#" onclick="desinscreverEvento('{{ evento.id_avaliacao }}')" class="btn btn-danger btn-sm" title="Desinscrever">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info mt-3" role="alert">
                <h4 class="alert-heading">Sem Eventos Inscritos!</h4>
                <p>Você não está inscrito em nenhum evento no momento.</p>
            </div>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/avaliacoes.js') }}"></script>
{% endblock %}