{% extends 'layout.html' %}

{% block title %}Editar Evento{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Editar Evento</h2>
        <form method="post" action="/editar_evento/{{ evento.id_evento }}">
            <label for="identificacao">Identificação:</label><br>
            <input type="text" id="identificacao" name="identificacao" value="{{ evento.identificacao }}" required><br>

            <label for="tipo_evento">Tipo de Evento:</label><br>
            <select id="tipo_evento" name="tipo_evento" required>
                {% for tipo in tipos_evento %}
                    <option value="{{ tipo }}" {% if evento.tipo_evento == tipo %} selected {% endif %}>{{ tipo }}</option>
                {% endfor %}
            </select><br>

            <label for="data_inicio">Data de Início:</label><br>
            <input type="date" id="data_inicio" name="data_inicio" value="{{ evento.data_inicio.strftime('%Y-%m-%d') }}" required><br>

            <label for="data_fim">Data de Fim:</label><br>
            <input type="date" id="data_fim" name="data_fim" value="{{ evento.data_fim.strftime('%Y-%m-%d') }}" required><br>

            <label for="localizacao">Localização:</label><br>
            <input type="text" id="localizacao" name="localizacao" value="{{ evento.localizacao }}" required><br>

            <label for="descricao">Descrição:</label><br>
            <textarea id="descricao" name="descricao" required>{{ evento.descricao }}</textarea><br>

            <label for="instrumento_avaliacao">Instrumento de Avaliação:</label><br>
            <select id="instrumento_avaliacao" name="instrumento_avaliacao">
                {% for instrumento in instrumentos %}
                    <option value="{{ instrumento.id_instrumento_avaliacao }}" {% if instrumento.id_instrumento_avaliacao in evento.instrumentos_associados %} selected {% endif %}>
                        {{ instrumento.nome }}
                    </option>
                {% endfor %}
            </select><br>
            
            <label for="criterios">Critérios Associados:</label><br>
            <ul>
                {% for criterio in criterios %}
                    <li>
                        <input type="checkbox" id="criterio_{{ criterio.id_criterio }}" name="criterios[]" value="{{ criterio.id_criterio }}"
                               {% if criterio.id_criterio in evento.criterios_associados %} checked {% endif %}>
                        <label for="criterio_{{ criterio.id_criterio }}">{{ criterio.criterio }}</label>
                    </li>
                {% endfor %}
            </ul>

            <input type="submit" value="Atualizar Evento">
        </form>
    </div>
{% endblock %}