<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        /* Adicione este estilo para controlar o tamanho das imagens */
        .logo-container img {
            max-width: 100%;
            height: auto;
        }

        .geati-image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="forgot-password-box">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/Logo_IFC_horizontal_Camboriu.png') }}" alt="IFC Camboriú Logo" class="logo">
        </div>
        <div class="forgot-password-header">Esqueci minha senha</div>
        <div class="forgot-password-body">
            <form class="form-group" method="post" action="{{ url_for('forgot_password') }}">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" name="email" required>
                <button type="submit" class="form-control btn btn-primary">Enviar</button>
            </form>
            <p class="instruction-message">
                Informe o seu endereço de e-mail associado à sua conta. Enviaremos um link para redefinir sua senha.
            </p>
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/geati1.png') }}" alt="GEATI" class="geati-image">
            </div>
            <p class="login-link">
                Lembrou a senha? <a href="{{ url_for('login') }}">Faça login aqui</a>
            </p>
        </div>
    </div>
    <!-- Scripts do Bootstrap e do jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>