<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body class="register-page">  
  <div class="logo-container">
    <img src="/static/images/Logo_IFC_horizontal_Camboriu.png" alt="IFC Camboriú Logo" class="logo-ifc">
    <img src="/static/images/geati1.png" alt="GEATI Logo" class="logo-geati">
  </div>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} mt-2">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row main">
      <div class="main-login main-center" style="margin-bottom: 100px; margin-top: 20px; padding-top: 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31); width: 75%;">
        <a href="{{ url_for('login') }}" style="text-decoration: none; color: #007bff; display: block; margin-bottom: 20px;"><i class="fas fa-arrow-left"></i> Voltar para o Login</a>
        <h5 style="margin-bottom: 16px;">Registrar um novo usuário.</h5>
        <form action="/register" method="post" autocomplete="off" class="register-form">
          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Seu nome completo</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon" style="display: flex; align-items: center; margin: auto;"><i class="fa fa-user fa" aria-hidden="true" style="margin-left: 10px; margin-right: 10px;"></i></span>
                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Digite seu nome" value="" required="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Seu Email</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon" style="display: flex; align-items: center; margin: auto;"><i class="fa fa-envelope fa" aria-hidden="true" style="margin-left: 10px; margin-right: 10px;"></i></span>
                <input type="text" class="form-control" name="email" id="email" placeholder="Digite seu E-mail" value="" required="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lattes_link" class="cols-sm-2 control-label">Lattes iD</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon" style="display: flex; align-items: center; margin: auto;"><i class="fa fa-link fa" aria-hidden="true" style="margin-left: 10px; margin-right: 10px;"></i></span>
                <input type="text" class="form-control" name="lattes_link" id="lattes_link" placeholder="https://lattes.cnpq.br/XXXXXXXXXXXXXXXX" value="" required="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="matricula" class="cols-sm-2 control-label">Sua matrícula</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon" style="display: flex; align-items: center; margin: auto;"><i class="fa fa-users fa" aria-hidden="true" style="margin-left: 10px; margin-right: 10px;"></i></span>
                <input type="text" class="form-control" name="matricula" id="matricula" placeholder="Digite sua matrícula (opcional)" value="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Sua senha</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon" style="display: flex; align-items: center; margin: auto;"><i class="fa fa-lock fa-lg" aria-hidden="true" style="margin-left: 10px; margin-right: 10px;"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Digite sua senha" id="password" value="" required="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Registrar" class="form-control btn btn-primary" name="">
            <p style="padding:5px;"></p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Scripts do Bootstrap e do jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>