<!-- tabela_criterios.html -->

{% for criterio in criterios %}

<tr>

<td>{{ criterio.criterio }}</td>
<td>{{ criterio.qtd_maxima_itens }}</td>
<td>{{ criterio.pontuacao_item }}</td>
<td>{{ criterio.xpath_criterio_lattes }}</td>
<td>{{ criterio.considera_qualis }}</td>
<td>{{ criterio.ativo }}</td>

<td>
<a href="/editar_criterio/{{ criterio.id_criterio }}"
class="btn btn-warning btn-sm">
Editar
</a>
</td>

<td>
<form action="/remover_criterio/{{ criterio.id_criterio }}"
method="POST"
style="display:inline">

<button
type="submit"
class="btn btn-danger btn-sm"
onclick="return confirm('Deseja remover este critério?')">
Remover
</button>

</form>
</td>

</tr>

{% endfor %}